{erl_opts, [debug_info]}.
{deps, [
        {cowboy, {git, "https://github.com/ninenines/cowboy.git"}},
        {jiffy, {git, "https://github.com/davisp/jiffy.git", {branch, "master"}}}
	]}.

{relx, [{release, {gameserver, "0.1.0"},
         [gameserver,
          sasl]},

        {sys_config, "./config/sys.config"},
        {vm_args, "./config/vm.args"},

        {dev_mode, true},
        {include_erts, false},

        {extended_start_script, true}]
}.

{plugins, [rebar3_auto]}.

{profiles, [{prod, [{relx, [{dev_mode, false},
                            {include_erts, true}]}]
            }]
}.
